@tailwind base;
@tailwind components;
@tailwind utilities;

#icon{
  height: 130px;
  width: 130px;
}

#title{
  background-image: url('./icons/niceClouds.jpeg');
  background-size:contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}